# Autopickup and exceptions.
OPTIONS=autopickup,pickup_types:$"!?/=
AUTOPICKUP_EXCEPTION="<*magic lamp*"
AUTOPICKUP_EXCEPTION="<*magic marker*"
AUTOPICKUP_EXCEPTION="<*wishing*"
AUTOPICKUP_EXCEPTION="<*silver bell*"
AUTOPICKUP_EXCEPTION="<*Bell of Opening*"
AUTOPICKUP_EXCEPTION="<*andelabrum*"
AUTOPICKUP_EXCEPTION="<*Book of the Dead"
AUTOPICKUP_EXCEPTION="<*papyrus spellbook"

