# This .nethackrc file lives at: https://github.com/lynn/nethackrc

# Options for both NetHack 3.4.3 and 3.6.2.
OPTIONS=autodig
#OPTIONS=autopickup (See autopickup section)
OPTIONS=!autoquiver
OPTIONS=boulder:0
OPTIONS=!cmdassist
#OPTIONS=DECgraphics
OPTIONS=color
OPTIONS=disclose:yi ya nv ng yc
OPTIONS=fixinv
OPTIONS=fruit:avocado
OPTIONS=!help
OPTIONS=hilite_pet
#OPTIONS=IBMgraphics
OPTIONS=!legacy
OPTIONS=lit_corridor
OPTIONS=mail
OPTIONS=msghistory:100
OPTIONS=msg_window:reversed
OPTIONS=number_pad:0
OPTIONS=pickup_burden:U
#OPTIONS=pickup_types (See autopickup section)
OPTIONS=runmode:teleport
OPTIONS=showexp
OPTIONS=showrace
OPTIONS=showscore
OPTIONS=!sparkle
OPTIONS=suppress_alert:3.4.3
OPTIONS=time
OPTIONS=!tombstone

# Autopickup and exceptions.
OPTIONS=autopickup,pickup_types:$"!?/=
AUTOPICKUP_EXCEPTION="<*Amulet of Yendor named*"
AUTOPICKUP_EXCEPTION="<*andelabrum*"
AUTOPICKUP_EXCEPTION="<*athame*"
AUTOPICKUP_EXCEPTION="<*Bell of Opening*"
AUTOPICKUP_EXCEPTION="<*Book of the Dead*"
AUTOPICKUP_EXCEPTION="<*lamp*"
AUTOPICKUP_EXCEPTION="<*lizard corpse*"
AUTOPICKUP_EXCEPTION="<*magic marker*"
AUTOPICKUP_EXCEPTION="<*Magicbane*"
AUTOPICKUP_EXCEPTION="<*papyrus spellbook*"
AUTOPICKUP_EXCEPTION="<*silver bell*"
AUTOPICKUP_EXCEPTION=">*lamp*oil*"
AUTOPICKUP_EXCEPTION=">*magic marker ?1:??"
AUTOPICKUP_EXCEPTION=">*magic marker*empty"
AUTOPICKUP_EXCEPTION=">*magic marker*out"
AUTOPICKUP_EXCEPTION=">*oil lamp*"
AUTOPICKUP_EXCEPTION=">*scare mon*"
# Visual options.
OPTIONS=UTF8graphics
OPTIONS=monsters:abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTQVWXYZ@6U&;:~m
MONSTERCOLOR=floating eye:yellow
MONSTERCOLOR=mind flayer:lightmagenta
MONSTERCOLOR=master mind flayer:lightmagenta
MONSTERCOLOR=Elvenking:lightmagenta

# Maud's menucolors.
OPTIONS=menucolors

# Blessed, cursed, enchanted
MENUCOLOR=" blessed"=cyan
MENUCOLOR=" \+[1-9]"=lightcyan
MENUCOLOR=" \-[1-9]"=orange
MENUCOLOR=" cursed"=red

# Un-ID'd
MENUCOLOR=" (amulet|ring$|potion|scroll|spellbook|wand|gem|tin$|tins$|bag)"=lightblue
MENUCOLOR=" (amulet|ring|potion|scroll|spellbook|wand|gem|tin|bag)s? (of|called|versus)"=gray
MENUCOLOR=" cursed.* (tin|bag)"=red
MENUCOLOR=" small bag"=gray
MENUCOLOR=" called .+ or "=lightblue
MENUCOLOR=" called .*\?"=lightblue
MENUCOLOR=" gray stone"=lightblue&underline
MENUCOLOR=" (piece of cloth|opera cloak|ornamental cope|tattered cape|conical hat)"=lightblue
MENUCOLOR=" (plumed|etched|crested|visored) helmet"=lightblue
#MENUCOLOR=" (old|padded|riding|fencing) gloves"=lightblue
MENUCOLOR=" (mud|buckled|riding|snow|hiking|combat|jungle) boots"=lightblue
MENUCOLOR=" (piece of cloth|opera cloak|ornamental cope|tattered cape|conical hat)"=lightblue

# Armor
MENUCOLOR=" dragon scale"=lightmagenta
MENUCOLOR=" (gloves|gauntlets|yugake)"=lightgreen
MENUCOLOR=" cursed.* (gloves|gauntlets|yugake)"=lightgreen&underline
MENUCOLOR=" (levitation boots|boots called lev)"=green
MENUCOLOR=" helm.* opposite"=lightcyan
MENUCOLOR=" (gauntlets|gloves|boots) .* fumbl"=orange
MENUCOLOR=" fumble boots"=orange
MENUCOLOR=" dunce cap"=orange&underline

# Tools
MENUCOLOR=" (magic lamp|lamp called magic)"=magenta
MENUCOLOR=" blessed (magic lamp|lamp called magic)"=lightmagenta
MENUCOLOR=" magic marker"=lightmagenta
MENUCOLOR=" (blessed|cursed) magic marker"=lightmagenta&underline
MENUCOLOR=" magic marker.* \(1:[0-3]\)"=brown

MENUCOLOR=" unicorn horn[^[]*$"=lightgreen
MENUCOLOR=" cursed.* unicorn horn"=lightgreen&underline
MENUCOLOR=" (blindfold|towel)"=lightgreen
MENUCOLOR=" cursed.* (blindfold|towel)"=lightgreen&underline
MENUCOLOR=" stethoscope"=lightgreen
MENUCOLOR=" cursed.* stethoscope"=lightgreen&underline

MENUCOLOR=" pick-axe[^[]*$"=green
MENUCOLOR=" cursed.* pick-axe"=green&underline
MENUCOLOR=" (key|lock pick|osaku)"=green
MENUCOLOR=" can of grease"=green
MENUCOLOR=" cursed.* can of grease"=green&underline

MENUCOLOR=" (oilskin|sack)"=lightcyan
MENUCOLOR=" tinning kit"=lightcyan
MENUCOLOR=" cursed.* tinning kit"=lightcyan&underline
MENUCOLOR=" (magic whistle|whistle called magic)"=lightcyan
MENUCOLOR=" tin whistle"=brown
MENUCOLOR=" called tin"=brown
MENUCOLOR=" tin opener"=brown

# Foodstuffs
MENUCOLOR=" lumps? of royal jelly"=lightmagenta
MENUCOLOR=" tins? of (spinach|.*giant meat)"=lightmagenta
MENUCOLOR=" lizard corpse"=lightgreen
MENUCOLOR=" (food |K-|C-|cram )ration"=green
MENUCOLOR=" (gunyoki|lembas wafer)"=green
MENUCOLOR=" tripe ration"=lightcyan

#MENUCOLOR=" fortune cookie"=yellow
MENUCOLOR=" c(hi|o)ckatrice corpse"=yellow
MENUCOLOR=" tins? of c(hi|o)ckatrice"=yellow
MENUCOLOR=" cockatrice egg"=yellow

MENUCOLOR=" (slime mold|candied|cookie)"=green

# Amulets
MENUCOLOR=" amulet .* life saving"=lightgreen
MENUCOLOR=" cursed amulet .* life saving"=lightgreen&underline
MENUCOLOR=" amulet .* reflect"=lightgreen
MENUCOLOR=" amulet .* ESP"=lightcyan
MENUCOLOR=" amulet .* (strang|sleep|change)"=orange

# Rings
MENUCOLOR=" ring .* free action"=lightgreen
MENUCOLOR=" ring .* slow digest"=green
MENUCOLOR=" ring .* conflict"=green
MENUCOLOR=" ring .* levitation"=green
MENUCOLOR=" ring .* teleport control"=green
MENUCOLOR=" ring .* regeneration"=green
MENUCOLOR=" ring .* polymorph"=lightcyan
MENUCOLOR=" ring .* polymorph control"=lightcyan

# Wands
MENUCOLOR=" wand (of|called) (wish|death|poly)"=lightmagenta
MENUCOLOR=" wand (of|called) (teleport|digging)"=lightgreen
MENUCOLOR=" wand (of|called) (fire|cold|lightning|sleep)"=green
MENUCOLOR=" wand (of|called) (secret door|create monster|enlighten)"=lightcyan
MENUCOLOR=" wand (of|called) nothing"=brown

# Scrolls
MENUCOLOR=" scrolls? .* genocide"=lightmagenta
MENUCOLOR=" cursed scrolls? .* genocide"=lightmagenta&underline
MENUCOLOR=" scrolls? .* enchant (armor|weapon)"=magenta
MENUCOLOR=" cursed scrolls? .* enchant (armor|weapon)"=magenta&underline
MENUCOLOR=" scrolls? .* teleport"=lightgreen
MENUCOLOR=" cursed scrolls? .* teleport"=lightgreen&underline
MENUCOLOR=" scrolls? .* remove curse"=green
MENUCOLOR=" cursed scrolls? .* remove curse"=green&underline
MENUCOLOR=" scrolls? .* identify"=green
MENUCOLOR=" cursed scrolls? .* identify"=green&underline

MENUCOLOR="scrolls? .* scare monster"=lightcyan
MENUCOLOR="scrolls? .* magic mapping"=lightcyan
MENUCOLOR="scrolls? .* gold detection"=lightcyan
MENUCOLOR="scrolls? .* taming"=lightcyan
MENUCOLOR="scrolls? .* charging"=lightcyan

MENUCOLOR=" unlabeled scroll"=white
MENUCOLOR=" plain spellbook"=white
MENUCOLOR=" blank paper"=white
MENUCOLOR=" blessed unlabeled scroll"=lightcyan
MENUCOLOR=" blessed plain spellbook"=lightcyan
MENUCOLOR=" blessed .* blank paper"=lightcyan
MENUCOLOR=" cursed unlabeled scroll"=orange
MENUCOLOR=" cursed plain spellbook"=orange
MENUCOLOR=" cursed .* blank paper"=orange

# Potions
MENUCOLOR=" potions? .* (gain ability|enlightenment)"=magenta
MENUCOLOR=" potions? .* healing"=green
MENUCOLOR=" potions? .* full healing"=lightgreen
MENUCOLOR=" potions? .* gain (level|energy)"=lightcyan
MENUCOLOR=" potions? .* speed"=lightcyan
MENUCOLOR=" (smoky potion|potions? .* smoky)"=magenta
MENUCOLOR=" blessed (smoky potion|potions? .* smoky)"=lightmagenta
#MENUCOLOR=" potions? .* (conf|hallu|blind)"=brown
MENUCOLOR=" potions? .* acid"=brown

MENUCOLOR=" clear potion"=white
MENUCOLOR=" potions? .* water"=white
MENUCOLOR=" blessed clear potion"=lightcyan
MENUCOLOR=" blessed potions? .* water"=lightcyan
MENUCOLOR=" holy water"=lightcyan
MENUCOLOR=" cursed clear potion"=orange
MENUCOLOR=" cursed potions? .* water"=orange
MENUCOLOR=" unholy water"=orange

# Rocks 'n stuff
MENUCOLOR=" (luckstone|stones? .* luck|Heart of Ahriman)"=lightgreen
MENUCOLOR=" cursed (luckstone|stones? .* luck|Heart of Ahriman)"=lightgreen&underline
MENUCOLOR=" (touchstone|stones? .* touch)"=lightcyan
MENUCOLOR=" worthless"=black
MENUCOLOR=" (loadstone|stones? called load)"=orange

# Junk
MENUCOLOR=" amulet.*(change|restful|strang)"=black
MENUCOLOR=" cheap plastic"=black
MENUCOLOR=" (scimitar|club|aklys|morning star|flail|nunchaku)"=black
MENUCOLOR=" (grappling hook|war hammer|partisan|fauchard|glaive)"=black
MENUCOLOR=" (naginata|bec-de-c|spetum|lucern|guisarme|ranseur)"=black
MENUCOLOR=" (voulge|bill-guis|bardiche|halberd|javelin)"=black
MENUCOLOR=" (bullwhip|rubber hose)"=black
MENUCOLOR=" (leather jacket|(ring|chain|plate) mail|tanko)"=black
MENUCOLOR="[^n] scale mail"=black
MENUCOLOR=" (mummy wrapping|coarse mantelet|orcish cloak)"=black
MENUCOLOR=" (fedora|dunce cap|booze|fruit juice)"=black
MENUCOLOR=" potion.*(see inv|sick|conf|hallu|restore abil)"=black
MENUCOLOR=" potion.*(sleep|blind|invis|detect|acid|paralys)"=black
MENUCOLOR=" scroll.*(conf|destroy|fire|food det|amn|puni|cloud)"=black
MENUCOLOR=" wand.*(nothing|lock|open|slow mon)"=black
MENUCOLOR=" ring.*(adorn|hunger|shape|steal|sust|aggrav)"=black
MENUCOLOR=" ring.*(gain con|search)| tin opener"=black
MENUCOLOR=" spellbook.*(turn und|detect food|confuse mon|slow)"=black
MENUCOLOR=" spellbook.*(cause fear|jumping|haste self|invis)"=black
MENUCOLOR=" spellbook.*(teleport away|create fam|cure blind)"=black
MENUCOLOR=" spellbook.*(cure sick|restore abil|dig|knock|lock)"=black

# Artifacts R Us
MENUCOLOR=" (Orb of Detection|Sceptre of Might|Magic Mirror of Merlin)"=lightgreen
MENUCOLOR=" (Magicbane|Eyes of the Overworld)"=lightgreen
MENUCOLOR=" (Orb of Fate|Aethiopica|Yendorian Express)"=lightgreen
MENUCOLOR=" (Master Key of Thievery|Longbow of Diana)"=lightgreen

MENUCOLOR=" (Bell of Opening|silver bell|[Cc]andelabrum|Book of the Dead|papyrus spellbook)"=yellow
MENUCOLOR=" Amulet of Yendor"=orange
MENUCOLOR=" Amulet of Yendor named"=yellow&underline

# Unstashables
MENUCOLOR=" bag .* holding"=yellow
MENUCOLOR=" cursed bag .* holding"=yellow&underline
MENUCOLOR=" (sack|bag).* named cancel"=yellow
MENUCOLOR=" bag .* tricks( \([0-9]+:[1-9][0-9]*\))?$"=yellow
MENUCOLOR=" wand .*(cancel|vanish)"=yellow
# Looting
MENUCOLOR="is empty. Do what\?"=gray
MENUCOLOR="Put something into .*"=gray
MENUCOLOR="Take something out of .*"=gray

# Spellcasting
MENUCOLOR=" 0%"=white
MENUCOLOR=" [1-9]%"=yellow
MENUCOLOR=" [12][0-9]%"=yellow
MENUCOLOR=" [3-5][0-9]%"=brown
MENUCOLOR=" [6-8][0-9]%"=orange
MENUCOLOR=" 9[0-9]%"=red
MENUCOLOR=" 100%"=red
MENUCOLOR="(turn und|detect food|confuse mon|slow).*%"=black
MENUCOLOR="(cause fear|jumping|haste self|invis).*%"=black
MENUCOLOR="(teleport away|create fam|cure blind).*%"=black
MENUCOLOR="(cure sick|restore abil|dig|knock|lock).*%"=black
MENUCOLOR="[a-zA-Z ]+ [0-9]\* +[a-z]+ +[0-9]+%"=green

# Enhance
MENUCOLOR=" \[(Basic|Skilled|Master)\]$"=green
MENUCOLOR=" \[(Expert|Grand Master)\]$"=lightgreen
MENUCOLOR=" martial arts +\[Expert\]$"=green
MENUCOLOR="^ *[a-z] - +[a-z -]+ +\[(Unskilled|Basic|Skilled|Expert|Master)\]$"=lightmagenta

# MSGTYPE options.
MSGTYPE=hide "You climb down *"
MSGTYPE=hide "You climb up *"
MSGTYPE=hide "You descend *"
MSGTYPE=hide "You displaced *"
MSGTYPE=hide "You fly down *"
MSGTYPE=hide "You fly up *"
MSGTYPE=hide "You swap places with *"
MSGTYPE=stop "You are slowing down."
MSGTYPE=stop "You find it hard to breathe."
MSGTYPE=stop "You are turning a little *"
MSGTYPE=stop "It constricts your throat!"
MSGTYPE=stop "You find it hard to breathe."
MSGTYPE=stop "Your * is becoming constricted."
MSGTYPE=stop "You're gasping for air."
MSGTYPE=stop "Your blood is having trouble reaching your brain."
MSGTYPE=stop "You can no longer breathe."
MSGTYPE=stop "The pressure on your * increases."
MSGTYPE=stop "You're turning blue."
MSGTYPE=stop "Your consciousness is fading."
MSGTYPE=stop "You suffocate."
MSGTYPE=stop "* flicks a bullwhip towards your *!"
MSGTYPE=stop "* wraps around * you're wielding!"
MSGTYPE=stop "* yanks * from your *!"
MSGTYPE=stop "* yanks * to the *!"
MSGTYPE=stop "* snatches *!"
MSGTYPE=stop "*chickatrice corpse*"
MSGTYPE=stop "*cockatrice corpse*"
MSGTYPE=stop "*cockatrice egg*"
MSGTYPE=stop "*Tsurugi of Muramasa*"
MSGTYPE=stop "*Vorpal Blade*"
MSGTYPE=stop "The couatl swings itself around you!"
MSGTYPE=stop "The electric eel swings itself around you!"
MSGTYPE=stop "The giant eel swings itself around you!"
MSGTYPE=stop "The kraken swings itself around you!"
MSGTYPE=stop "The python grabs you!"
MSGTYPE=stop "You feel more experienced."
MSGTYPE=stop "Welcome to experience level *."
MSGTYPE=stop "Goodbye level *."
MSGTYPE=stop "Fare thee well level *."
MSGTYPE=stop "Sayonara level *."
MSGTYPE=stop "Aloha level *."
MSGTYPE=stop "Farvel level *."
MSGTYPE=stop "Ulch - that * was tainted*!"
MSGTYPE=stop "You feel hungry."
MSGTYPE=stop "You are beginning to feel hungry."
MSGTYPE=stop "You are getting the munchies."
MSGTYPE=stop "You feel weak now."
MSGTYPE=stop "You still have the munchies."
MSGTYPE=stop "You feel weak."
MSGTYPE=stop "You are beginning to feel weak."
MSGTYPE=stop "The munchies are interfering with your motor capabilities."
MSGTYPE=stop "* needs food, badly!"
MSGTYPE=stop "You only feel hungry now."
MSGTYPE=stop "You now have a lesser case of the munchies."
MSGTYPE=stop "You faint from lack of food."
MSGTYPE=stop "You regain consciousness."
MSGTYPE=stop "You die from starvation."
MSGTYPE=stop "You die from hunger and exhaustion."
MSGTYPE=stop "You feel deathly sick."
MSGTYPE=stop "You feel even worse."
MSGTYPE=stop "You feel much worse."
MSGTYPE=stop "You feel somewhat better."
MSGTYPE=stop "What a relief!"
MSGTYPE=stop "You die from your illness."
MSGTYPE=stop "You feel a malignant aura surround you."
MSGTYPE=stop "You feel a malignant aura surround the magic-absorbing blade."
MSGTYPE=stop "You sense a faint wave of psychic energy."
MSGTYPE=stop "A wave of psychic energy pours over you!"
MSGTYPE=stop "It locks on to your *!"
MSGTYPE=stop "* concentrates."
MSGTYPE=stop "* tentacles suck you!"
MSGTYPE=stop "You don't seem harmed."
MSGTYPE=stop "Your helmet blocks the attack to your head."
MSGTYPE=stop "Your brain is eaten!"
MSGTYPE=stop "Your last thought fades away."
MSGTYPE=stop "Unfortunately your brain is still gone."
MSGTYPE=stop "You hear the howling of the CwnAnnwn..."
MSGTYPE=stop "You hear the wailing of the Banshee..."
MSGTYPE=stop "*, all your powers will be lost..."
MSGTYPE=stop "*, your life force is running out."
MSGTYPE=stop "* is about to die."
MSGTYPE=stop "You hear someone cursing shoplifters."
MSGTYPE=stop "You hear the chime of a cash register."
MSGTYPE=stop "You hear Neiman and Marcus arguing!"
MSGTYPE=stop "You feel more confident in your *skills."
MSGTYPE=stop "You are now more skilled in *."
MSGTYPE=stop "You are now most skilled in *."
MSGTYPE=stop "You don't feel very well."
MSGTYPE=stop "You suck in some slime and don't feel very well."
MSGTYPE=stop "You are turning a little green."
MSGTYPE=stop "Your limbs are getting oozy."
MSGTYPE=stop "Your skin begins to peel away."
MSGTYPE=stop "You are turning into a green slime."
MSGTYPE=stop "You are turning into *."
MSGTYPE=stop "You have become a green slime."
MSGTYPE=stop "You have become *."
MSGTYPE=stop "You don't have enough energy to cast that spell."
MSGTYPE=stop "You fail to cast the spell correctly."
MSGTYPE=stop "You are slowing down."
MSGTYPE=stop "Your limbs are stiffening."
MSGTYPE=stop "Your limbs have turned to stone."
MSGTYPE=stop "You have turned to stone."
MSGTYPE=stop "You are a statue."
MSGTYPE=stop "* stole *."
MSGTYPE=stop "* stole *!"
MSGTYPE=stop "You hear someone counting money."
MSGTYPE=stop "You hear the quarterback calling the play."
MSGTYPE=stop "You hear the footsteps of a guard on patrol."
MSGTYPE=stop "You hear Ebenezer Scrooge!"
MSGTYPE=hide "You hear someone searching."
MSGTYPE=stop "You feel a strange vibration beneath *."
MSGTYPE=stop "You feel a strange vibration under your *."
MSGTYPE=stop "You are feeling mildly nauseated."
MSGTYPE=stop "You feel slightly confused."
MSGTYPE=stop "You can't seem to think straight."
MSGTYPE=stop "You feel incredibly sick."
MSGTYPE=stop "You suddenly vomit!"
MSGTYPE=stop "You feel vaguely nervous."
MSGTYPE=stop "You notice a black glow surrounding you."
MSGTYPE=stop "A voice booms out..."
MSGTYPE=stop "So thou thought thou couldst * me, fool."
MSGTYPE=stop "You feel less attractive."
MSGTYPE=stop "You feel perceptive!"
MSGTYPE=stop "You feel less perceptive!"
MSGTYPE=stop "You feel unaware!"
MSGTYPE=stop "You feel charismatic!"
MSGTYPE=stop "You feel very charismatic!"
MSGTYPE=stop "You feel repulsive!"
MSGTYPE=stop "You feel very repulsive!"
MSGTYPE=stop "You feel warm!"
MSGTYPE=stop "You feel cooler!"
MSGTYPE=stop "You feel full of hot air."
MSGTYPE=stop "You feel cooler."
MSGTYPE=stop "You feel tough!"
MSGTYPE=stop "You feel very tough!"
MSGTYPE=stop "You feel fragile!"
MSGTYPE=stop "You feel very fragile!"
MSGTYPE=stop "You must be leading a healthy life-style."
MSGTYPE=stop "You haven't been watching your health."
MSGTYPE=stop "You feel agile!"
MSGTYPE=stop "You feel very agile!"
MSGTYPE=stop "You feel clumsy!"
MSGTYPE=stop "You feel very clumsy!"
MSGTYPE=stop "You must have been working on your reflexes."
MSGTYPE=stop "You haven't been working on reflexes lately."
MSGTYPE=stop "You feel very firm."
MSGTYPE=stop "You feel totally together, man."
MSGTYPE=stop "You feel cool!"
MSGTYPE=stop "You feel warmer!"
MSGTYPE=stop "You feel a momentary chill."
MSGTYPE=stop "You be chillin'."
MSGTYPE=stop "You feel warmer."
MSGTYPE=stop "You feel smart!"
MSGTYPE=stop "You feel very smart!"
MSGTYPE=stop "You feel stupid!"
MSGTYPE=stop "You feel very stupid!"
MSGTYPE=stop "You feel paranoid."
MSGTYPE=stop "You feel feverish."
MSGTYPE=stop "You feel purified."
MSGTYPE=stop "You feel healthy!"
MSGTYPE=stop "You feel hardy!"
MSGTYPE=stop "You feel less healthy!"
MSGTYPE=stop "You feel less hardy!"
MSGTYPE=stop "You feel healthy."
MSGTYPE=stop "You feel especially healthy."
MSGTYPE=stop "You feel a little sick!"
MSGTYPE=stop "You feel vulnerable."
MSGTYPE=stop "You thought you saw something!"
MSGTYPE=stop "You tawt you taw a puttie tat!"
MSGTYPE=stop "Your vision becomes clear."
MSGTYPE=stop "You feel insulated!"
MSGTYPE=stop "You feel conductive!"
MSGTYPE=stop "Your health currently feels amplified!"
MSGTYPE=stop "You feel grounded in reality."
MSGTYPE=stop "You feel awake!"
MSGTYPE=stop "You feel tired!"
MSGTYPE=stop "You feel wide awake."
MSGTYPE=stop "You feel quick!"
MSGTYPE=stop "You feel slow!"
MSGTYPE=stop "You seem faster."
MSGTYPE=stop "You seem slower."
MSGTYPE=stop "You feel slower."
MSGTYPE=stop "You feel stealthy!"
MSGTYPE=stop "You feel less stealthy!"
MSGTYPE=stop "You feel clumsy."
MSGTYPE=stop "You feel strong!"
MSGTYPE=stop "You feel very strong!"
MSGTYPE=stop "You feel weak!"
MSGTYPE=stop "You feel very weak!"
MSGTYPE=stop "You must have been exercising."
MSGTYPE=stop "You must have been abusing your body."
MSGTYPE=stop "You feel a strange mental acuity."
MSGTYPE=stop "You feel in touch with the cosmos."
MSGTYPE=stop "Your senses fail!"
MSGTYPE=stop "You feel controlled!"
MSGTYPE=stop "You feel uncontrolled!"
MSGTYPE=stop "You feel in control of yourself."
MSGTYPE=stop "You feel centered in your personal space."
MSGTYPE=stop "You feel very jumpy."
MSGTYPE=stop "You feel diffuse."
MSGTYPE=stop "You feel less jumpy."
MSGTYPE=stop "You feel sensitive!"
MSGTYPE=stop "You feel less sensitive!"
MSGTYPE=stop "You feel wise!"
MSGTYPE=stop "You feel very wise!"
MSGTYPE=stop "You feel foolish!"
MSGTYPE=stop "You feel very foolish!"
MSGTYPE=stop "You must have been very observant."
MSGTYPE=stop "You haven't been paying attention."
