# This .nethackrc file lives at: https://github.com/lynn/nethackrc

# Options for both NetHack 3.4.3 and 3.6.2.
OPTIONS=autodig
#OPTIONS=autopickup (See autopickup section)
OPTIONS=!autoquiver
OPTIONS=boulder:0
OPTIONS=!cmdassist
#OPTIONS=DECgraphics
OPTIONS=color
OPTIONS=disclose:yi ya nv ng yc
OPTIONS=fixinv
OPTIONS=fruit:avocado
OPTIONS=!help
OPTIONS=hilite_pet
#OPTIONS=IBMgraphics
OPTIONS=!legacy
OPTIONS=lit_corridor
OPTIONS=mail
OPTIONS=msghistory:100
OPTIONS=msg_window:reversed
OPTIONS=number_pad:0
OPTIONS=pickup_burden:U
#OPTIONS=pickup_types (See autopickup section)
OPTIONS=runmode:teleport
OPTIONS=showexp
OPTIONS=showrace
OPTIONS=showscore
OPTIONS=!sparkle
OPTIONS=suppress_alert:3.4.3
OPTIONS=time
OPTIONS=!tombstone

# Autopickup and exceptions.
OPTIONS=autopickup,pickup_types:$"!?/=
AUTOPICKUP_EXCEPTION="<*magic lamp*"
AUTOPICKUP_EXCEPTION="<*magic marker*"
AUTOPICKUP_EXCEPTION="<*wishing*"
AUTOPICKUP_EXCEPTION="<*silver bell*"
AUTOPICKUP_EXCEPTION="<*Bell of Opening*"
AUTOPICKUP_EXCEPTION="<*andelabrum*"
AUTOPICKUP_EXCEPTION="<*Book of the Dead"
AUTOPICKUP_EXCEPTION="<*papyrus spellbook"

# Visual options.
OPTIONS=DECgraphics
OPTIONS=monsters:abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTQVWXYZ@6U&;:~m

